/**
 * Variables
 *
 */

// Color Palette
$color-primary-light: #424242;
$color-primary: #212121;
$color-primary-dark: #000000;

$color-secondary-light: #512DA8;
$color-secondary: #4527A0;
$color-secondary-dark: #311B92;

// Font Family
$font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;

// Defaults
$null: 0;
